.jumbotron{
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: lightblue;
}

.row.content {height: 1000px}

.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;}
}

.col-sm-4{
    width: 230px;
}

.middleimage{

 /*   padding-left: 45px;
    margin-bottom: 50px;
    margin-top: 100px; */

}

.c{
    margin-bottom: 50px;
}