<!DOCTYPE html>
<html>
<head>
    <title>Displaying Table page </title>
    <meta charset="utf-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>

<header>
    <h1>My Page</h1>
</header>
<div class="leftbox">
    <div class="left1">
        <ul>
            <li><a href="https://www.google.com" target="_blank">Google</a></li>
            <li><a href="https://www.facebook.com" target="_blank">Facebook</a></li>
            <li><a href="https://www.twitter.com" target="_blank">Twitter</a></li>
            <li><a href="https://www.gmail.com" target="_blank">Gmail</a></li>
        </ul>
    </div>
    <div class="left2">
        <p class="first"></p>
        <p class="second"></p>
        <p class="third"></p>
        <p class="fourth"></p>
        <p class="fifth"></p>
        <p class="sixth"></p>

    </div>
    <div class="left3">
        <img src="../images/tree.jpg" alt="image" height="250" width="170">
    </div>
</div>

<div class="rightbox">
    <div class="right1">
        <form>
            <h4>UserId:</h4>
            <input class="userid" type="text" name="userid">
            <h4>Password:</h4>
            <input class="userid" type="text" name="paswd"> <br><br>
            <input type="submit" name="submit" value="Login">
        </form>
    </div>

    <div class="right3">
    </div>
</div>
<div class="displayTable">
    <table>
        <caption>1st Unit test marks</caption>
        <tr>
            <th>Student Name</th>
            <th>Hindi</th>
            <th>Telugu</th>
            <th>English</th>
            <th>Maths</th>
            <th>Science</th>
            <th>Social</th>
        </tr>
        <tr>
            <td>Rakesh</td>
            <td>85</td>
            <td>95</td>
            <td>85</td>
            <td>45</td>
            <td>89</td>
            <td>52</td>
        </tr>
        <tr>
            <td>Priyanka</td>
            <td>95</td>
            <td>85</td>
            <td>65</td>
            <td>88</td>
            <td>75</td>
            <td>85</td>
        </tr>
        <tr>
            <td>Krithu</td>
            <td>85</td>
            <td>95</td>
            <td>85</td>
            <td>96</td>
            <td>89</td>
            <td>88</td>
        </tr>
        <tr>
            <td>Tanish</td>
            <td>85</td>
            <td>95</td>
            <td>85</td>
            <td>45</td>
            <td>89</td>
            <td>52</td>
        </tr>
        <tr>
            <td>Tejas</td>
            <td>98</td>
            <td>87</td>
            <td>45</td>
            <td>85</td>
            <td>77</td>
            <td>65</td>
        </tr>

        <tr>
            <td>Sahasra</td>
            <td>98</td>
            <td>99</td>
            <td>85</td>
            <td>100</td>
            <td>97</td>
            <td>99</td>
        </tr>

    </table>
</div>
<footer>
    Copyright &copy; mypage.com
</footer>

<script src="../js/main.js">

</script>

</body>
</html>