<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <form>
            <select name="Names">
                <option value="rakesh">Rakesh</option>
                <option value="priya" selected>Priyanka</option>
            </select>
            <br><br>
            <textarea name="textbox" rows="10" cols="30">
                uyhg hh hjhj hjj
                hbhb jjj jjnjn
                hgbhbghgb
                bhnbh
            </textarea>
            <br>
            <br>
            <button type="button" onclick="alert('hi')">click me!</button>
        </form>
    </body>
</html>